<h1 class="text-center my-5">Mon Devis</h1>

<table class="table table-primary table-striped w-75 mx-auto">

  <thead class="w-75 mx-auto">
    <tr class="table-secondary">
      <td>
        CATEGORIE
      </td>
      <td>
        MARQUE
      </td>
      <td>
        PRODUIT
      </td>
      <td>
        VENDU PAR
      </td>
      <td>
        QUANTITE
      </td>
    </tr>
  </thead>

<% @quote_items.each do |item| %>
  <tr class="table-primary">
    <td>
      <%= item.product.category.name %>
    </td>
    <td>
      <%= item.product.brand.name %>
    </td>
    <td>
      <%= item.product.name %>
    </td>
    <td>
      <%= item.product.box %>
    </td>

    <td>
      <div class="d-flex flex-wrap gx-1">
        <div class="d-flex flex-wrap">
          <%= form_with model: item, url: quote_item_path(item), method: :patch, local: true, class: "d-flex flex-wrap" do |f| %>
          <div>
              <%= f.number_field :quantity, value: item.quantity, class: "form-control" %>
          </div>
          <div>
              <%= f.submit "✔️", class: "btn btn-primary" %>
          </div>
          <% end %>
        </div>

        <div>
          <%= link_to '❌', quote_item_path(item), data: {turbo_method: :delete}, class: "btn btn-danger" %>
        </div>
      </div>
    </td>

  </tr>
<% end %>








</table>
