<h1>
  Demande de devis n° <%= @quote.id %>
</h1>

<table class="table table-primary table-striped table-hover table-bordered w-75 mx-auto">
    <% @quote_items.group_by { |item| item.product.category }.each do |category, items| %>
            <thead class="w-75 mx-auto">
                <tr class="table-success">
                    <td colspan="3">
                      <%= category.name.upcase %>
                    </td>
                </tr>
            </thead>
      <tbody>
        <% items.each do |item| %>
          <tr class="table-primary">

            <td>
              <%= item.product.name %>
            </td>

            <td>
              <%= item.product.box %>
            </td>

            <td>
              <%= item.quantity %>
            </td>

          </tr>
        <% end %>
      </tbody>
    <% end %>
  </table>
