<div class="d-flex">
  <%= link_to 'NOTRE CATALOGUE', products_path, class: "btn btn-danger" %>
  <%= search_form_for @q, class: "d-flex ms-3" do |f| %>
    <%= f.label :name_or_category_name_cont, hidden: true %>
    <%= f.search_field :name_or_category_name_cont, class: "form-control me-2", placeholder: "Chercher un produit" %>
    <%= f.submit "🔎", class: "btn btn-danger" %>
  <% end %>
</div>

<%= link_to 'DEMANDER MON DEVIS', quote_path, class: 'btn btn-secondary' %>
