<main class="container">
  <section class="row my-5 p-3 justify-content-center">
    <div class="col-md-5">
      <%= image_tag 'entrepot.jpg', class: 'img-fluid rounded-2' %>
    </div>

    <div class="col-md-5 text-center my-3">
      <%= image_tag 'makhfood_no_bg.png', class: "w-50" %>
      <p>
        Votre spécialiste grossiste alimentaire
      </p>
    </div>
  </section>

  <%= render 'pages/who' %>
  <%= render 'pages/now' %>
  <%= render 'pages/categories', categories: @categories %>

</main>
