<section class="position-sticky start-0 top-50 p-1 translate-middle-y" style="z-index: 1;">

  <ul class="list-group">

    <% # Recherche %>

    <li class="list-group-item list-group-item-action list-group-item-primary">
      <%= search_form_for q, class: "d-flex" do |f| %>
        <%= f.label :name_or_category_name_cont, hidden: true %>
        <%= f.search_field :name_or_category_name_cont, class: "form-control me-2", placeholder: "Chercher un produit" %>
        <%= f.submit "🔎", class: "btn btn-success" %>
      <% end %>
    </li>

    <% # Produits %>

    <%= link_to products_path, class: "text-decoration-none text-dark" do %>
      <li class="list-group-item list-group-item-action list-group-item-primary">
        Tous les Produits
      </li>
    <% end %>

    <% # Catégories %>

    <a class="text-decoration-none text-dark" type="button" data-bs-toggle="collapse" data-bs-target="#collapsing-1" aria-expanded="false" aria-controls="collapsing-1">
      <li class="list-group-item list-group-item-action list-group-item-primary">
      Catégories
      </li>
    </a>

    <ul class="collapse list-group" id="collapsing-1">

      <% categories.order(:name).each do |cat| %>
        <%= link_to category_path(cat), class: "text-decoration-none text-dark" do %>
          <li class="list-group-item list-group-item-action list-group-item-secondary">
            <%= cat.name %>
          </li>
        <% end %>
      <% end %>

    </ul>

    </li>

      <% # Marques %>
      <a class="text-decoration-none text-dark" type="button" data-bs-toggle="collapse" data-bs-target="#collapsing-2" aria-expanded="false" aria-controls="collapsing-2">
        <li class="list-group-item list-group-item-action list-group-item-primary rounded-bottom">
        Marques
        </li>
      </a>

      <ul id="collapsing-2" class="accordion-collapse collapse overflow-y-scroll list-group list-group-flush" style="max-height: 25vh; overflow-y: auto;">
        <% brands.order(:name).each do |b| %>
          <%= link_to brand_path(b), class: "text-decoration-none text-dark" do %>
            <li class="list-group-item list-group-item-action list-group-item-secondary">
              <%= b.name %>
            </li>
          <% end %>
        <% end %>
      </ul>

  </ul>



</section>
