<span class="text-secondary"><%= products.length %> produits</span>
<section class="row row-cols-lg-3 row-cols-md-2 row-cols-1 gx-1 gy-5">

  <% products.each_with_index do |product, i| %>

    <div class="col p-3 hover-card" id="product_<%= product.id %>"%>
      <%= link_to product_path(product), class: "text-decoration-none text-dark" do %>

        <div class="square-image-container">
          <%= cl_image_tag product.photo.key, class: 'w-100' %>
        </div>

        <p class="px-5">
          <%= product.name %>
        </p>


      <% end %>
      <%# <%= link_to 'supprimer', product_path(product), class: 'btn btn-danger', data: {turbo_method: :delete} %>
    </div>
  <% end %>

</section>


<style>

  .hover-card {
    transition: transform 0.3s ease;
  }
  .hover-card:hover {
    transform: scale(1.1);
  }
</style>
