<h1 class="my-5 text-center text-danger">MODIFIER UNE CATEGORIE</h1>

<%= form_with(model: @category, local: true, class: 'form') do |form| %>
  <div class="row w-75 mx-auto">

    <div class="form-group col-12 col-md-6 my-3">
      <%= form.label :name, "Nom de la catégorie" %>
      <%= form.text_field :name, class: 'form-control' %>
    </div>

    <div class="form-group col-12 col-md-6 my-3">
      <%= form.label :photo, "Photo" %>
      <%= form.file_field :photo, as: :file, class: "form-control" %>
    </div>

  </div>

  <div class="form-group text-center my-3">
    <%= form.submit 'MODIFIER LA CATEGORIE', class: 'btn btn-success' %>
  </div>

  <div class="text-center my-3">
  <%= link_to 'SUPPRIMER CETTE CATEGORIE', category_path(@category), class:"btn btn-dark", data: {turbo_method: :delete} %>
</div>

<% end %>
