<h1 class="my-5 text-center">
  Tous les produits
  <% if @q && @q.conditions.any? %>
    correspondant à "<%= @q.conditions.map(&:value).join(", ") %>"
  <% end %>
</h1>

<h2>
  <%= @products.length %> produits
</h2>


<div class="container text-center">
  <div class="row row-cols-lg-3 row-cols-md-2 row-cols-1 gx-1 gy-5">

    <% @products.each do |product| %>
        <div class="col" id="product_<%= product.id %>"%>
          <%= link_to product_path(product), class: "text-decoration-none" do %>

            <div class="card border h-100">

                <div class="square-image-container">
                  <%= cl_image_tag product.photo.key, class: 'w-75' %>
                </div>

              <div class="card-body">
                <p class="card-text">
                  <%= product.name.capitalize %>
                </p>
              </div>

            </div>

          <% end %>
          <%# <%= link_to 'supprimer', product_path(product), class: 'btn btn-danger', data: {turbo_method: :delete} %>
        </div>
    <% end %>

  </div>
</div>
