<h1 class="my-5 text-center text-danger">CREER UN PRODUIT</h1>

<%= form_with(model: @product, local: true, class: 'form') do |form| %>
  <div class="row w-75 mx-auto">

    <div class="form-group col-12 col-md-6 my-3">
      <%= form.label :name, "Nom du produit" %>
      <%= form.text_field :name, class: 'form-control' %>
    </div>


    <div class="form-group col-12 col-md-6 my-3">
      <%= form.label :box, "Vendu par" %>
      <%= form.text_field :box, class: 'form-control' %>
    </div>

    <div class="form-group col-12 col-md-6 my-3">
      <%= form.label :category_id, "Catégorie" %>
      <%= form.collection_select :category_id, Category.order(:name), :id, :name, { prompt: "Sélectionner une catégorie" }, { class: 'form-select' } %>

    </div>

    <div class="form col-12 col-md-6 my-3">
      <%= form.label :brand_id, "Marque" %>
      <%= form.collection_select :brand_id, Brand.order(:name), :id, :name, { prompt: "Sélectionner une marque" }, { class: 'form-select' } %>
    </div>

    <div class="form-group col-12 col-md-6 my-3">
      <%= form.label :photo, "Photo" %>
      <%= form.file_field :photo, as: :file, class: "form-control" %>
    </div>


  </div>


  <div class="form-group text-center my-3">
    <%= form.submit 'AJOUTER LE PRODUIT', class: 'btn btn-success' %>
  </div>

<% end %>
