<div class="container mt-5">
  <div class="row">
    <div class="col-md-6">
      <% if @product.link %>
        <%= image_tag @product.link, class: 'img-fluid rounded shadow-lg', alt: @product.name %>
      <% end %>
    </div>
    <div class="col-md-6">
      <h1 class="display-4 shadow-3 p-3"><%= @product.name %></h1>
      <p class=" shadow-3 p-3"><%= @product.description %></p>
      <!-- Ajouter ici d'autres détails sur le produit si nécessaire -->
    </div>
  </div>
</div>

<%= link_to 'Supprimer', product_path(@product), data: {turbo_method: :delete} %>

<ul class="list-group">
  <li class="list-group-item"><%= @product.sku %></li>
  <li class="list-group-item"><%= @product.ean %></li>
  <li class="list-group-item"><%= @product.unit_price %></li>
  <li class="list-group-item"><%= @product.unit %></li>
  <li class="list-group-item"><%= @product.box %></li>
  <li class="list-group-item"><%= @product.price_per_unit %></li>
  <li class="list-group-item"><%= @product.mesure_unit %></li>
  <li class="list-group-item"><%= @product.tva %></li>
  <li class="list-group-item"><%= @product.ht_box_price %></li>
  <li class="list-group-item"><%= @product.ttc_box_price %></li>
  <li class="list-group-item"><%= @product.brand.name %></li>
  <li class="list-group-item"><%= @product.category.name %></li>
</ul>
