<%= link_to 'Modifier', edit_product_path(@product) %>

<%= link_to 'Supprimer', product_path(@product), data: {turbo_method: :delete} %>
<div class="container mt-5">
  <div class="row">

    <div class="col-md-6">
      <%= cl_image_tag @product.photo.key, class: 'img-fluid rounded shadow-lg', alt: @product.name %>
    </div>

    <div class="col-md-6">
      <h1 class="display-4 shadow-3 p-3"><%= @product.name %></h1>

      <table class="table table-primary table-striped">
        <thead>
          <tr class="table-secondary">
            <td>
              Marque
            </td>
            <td>
              Rangé dans la catégorie
            </td>
          </tr>
          <tr class="table-secondary">
            <td>
              <%= @product.brand.name %>
            </td>
            <td>
              <%= @product.category.name %>
            </td>
          </tr>
        </thead>

<tr class="table-primary">
          <tr class="table-primary">
            <td>
              INFORMATIONS
            </td>
          </tr>

        <tr class="table-primary">
          <td>
            Mesure du Prix
          </td>
          <td>
            <%= @product.price_per_unit %> € / <%= @product.mesure_unit %>
          </td>
        </tr>

        <tr class="table-primary">
          <td>
            TVA applicable
          </td>
          <td>
            <%= @product.tva %>%
          </td>
        </tr>

        <tr class="table-primary">
          <td>
            VENDU PAR
          </td>
          <td>
            <%= @product.box %>
          </td>
        </tr>



        <tr class="table-primary">
          <td>
            Coût de vente HT
          </td>
          <td>
            <%= @product.ht_box_price %> €
          </td>
        </tr>

        <tr class="table-primary">
          <td>
            Coût de vente TTC
          </td>
          <td>
            <%= @product.ttc_box_price %> €
          </td>
        </tr>





      </table>

      <p class=" shadow-3 p-3"><%= @product.description %></p>
      <div>
        <%= form_with url: quote_items_path, method: :post do %>
          <%= hidden_field_tag :product_id, @product.id %>
          <%= submit_tag "Ajouter au devis", class: "btn btn-primary" %>
        <% end %>

      </div>
      <!-- Ajouter ici d'autres détails sur le produit si nécessaire -->
    </div>
  </div>
</div>
