<nav class="navbar border-bottom bg-white sticky-top">
  <div class="container-fluid">
    <%= link_to root_path, class:"text-decoration-none text-black grow-hover" do %>
      <%= image_tag 'makhfood_no_bg.png', width:"80" %>
      <span class="fw-medium d-none d-sm-inline">MAKHFOOD MARKET</span>
    <% end %>
    <%= render 'pages/nav-home' %>

    <button class="navbar-toggler" type="button" data-bs-toggle="offcanvas" data-bs-target="#offcanvasDarkNavbar" aria-controls="offcanvasDarkNavbar" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon border-danger"></span>
    </button>
    <div class="offcanvas offcanvas-end bg-danger" tabindex="-1" id="offcanvasDarkNavbar" aria-labelledby="offcanvasDarkNavbarLabel">
      <div class="offcanvas-header">
        <h5 class="offcanvas-title mx-auto text-bg-danger" id="offcanvasDarkNavbarLabel">MAKHFOOD MARKET</h5>
        <button type="button" class="btn-close btn-close-white" data-bs-dismiss="offcanvas" aria-label="Close"></button>
      </div>
      <div class="offcanvas-body">

        <ul class="navbar-nav justify-content-end flex-grow-1 pe-3">
          <li class="nav-item">
            <%= link_to 'ACCUEIL', root_path, class: 'nav-link text-bg-danger' %>
          </li>
          <li class="nav-item">
            <%= link_to 'GERER MON DEVIS', quote_path, class: 'nav-link text-bg-danger' %>
          </li>

        </ul>

        <%= search_form_for @q, class: "d-flex mt-5" do |f| %>
          <%= f.label :name_or_category_name_cont, hidden: true %>
          <%= f.search_field :name_or_category_name_cont, class: "form-control me-2", placeholder: "Chercher un produit" %>
          <%= f.submit "🔎", class: "btn btn-success" %>
        <% end %>

        <ul class="navbar-nav justify-content-end flex-grow-1 pe-3">
          <li class="nav-item">
            <%= link_to 'TOUS NOS PRODUITS', products_path, class: "nav-link text-bg-danger" %>
          </li>

          <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle text-bg-danger" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
              NOS CATEGORIES
            </a>

            <ul class="dropdown-menu dropdown-menu bg-danger-subtle">
              <li><%= link_to 'Toutes les catégories', categories_path, class: "dropdown-item" %></li>

              <li>
                <hr class="dropdown-divider">
              </li>
              <% @categories.order(:name).each do |cat| %>
                <li><%= link_to cat.name, category_path(cat), class: "dropdown-item" %></li>
              <% end %>

            </ul>
          </li>

          <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle text-bg-danger" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
              NOS MARQUES
            </a>

            <ul class="dropdown-menu bg-danger-subtle">
              <li><%= link_to 'Toutes les marques', brands_path, class: "dropdown-item" %></li>

              <li>
                <hr class="dropdown-divider">
              </li>
              <% @brands.order(:name).each do |b| %>
                <li>
                  <%= link_to b.name, brand_path(b), class: "dropdown-item" %>
                </li>
              <% end %>

            </ul>
          </li>
        </ul>

        <section class="text-bg-danger row fw-bold text-center gy-2 align-items-end align-items-center my-3">
          <div class="col-12">
            <i class="bi bi-basket3-fill"></i> Grossiste alimentation et boisson pour particuliers et professionnels
          </div>
          <div class="col-12">
            <i class="bi bi-clock-fill"></i> Ouvert du Lundi au samedi
          </div>
          <div class="col-12">
            <%= link_to "https://www.google.fr/maps/place/39+Rue+des+Pays+Bas,+84100+Orange/@44.1257522,4.837311,17z/data=!3m1!4b1!4m6!3m5!1s0x12b590ed3bf56cd1:0xd3fa4c732302d6c5!8m2!3d44.1257484!4d4.8398913!16s%2Fg%2F11c4vfw3vz?entry=ttu", target: "_blank", class: "text-decoration-none text-white" do %>
              <i class="bi bi-geo-alt-fill"></i> 39 Rue des Pays Bas, 84100 Orange
            <% end %>
          </div>
          <div class="col-12">
            <%= link_to "tel:+33618045086", target: "_blank", class: "text-decoration-none text-white" do %>
              <i class="bi bi-telephone-fill"></i> 06 18 04 50 86
            <% end %>

          </div>
        </section>

        <ul class="navbar-nav justify-content-end flex-grow-1 pe-3">
          <li class="nav-item">
            <%= link_to 'Mentions Légales', legal_path, class: 'nav-link text-bg-danger' %>
          </li>
          <li class="nav-item">
            <%= link_to 'Politique de Confidentialité', policy_path, class: 'nav-link text-bg-danger' %>
          </li>
          <li class="nav-item">
            <%= link_to 'Conditions Générales d\'utilisation', cgu_path, class: 'nav-link text-bg-danger' %>
          </li>

        </ul>



      </div>
    </div>
  </div>
</nav>

<style>
  .grow-hover {
    transition: transform 0.3s ease;
  }

  .grow-hover:hover {
    transform: scale(1.05)
  }
</style>
